* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

 h1 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-size: 50px;
  text-align: center;
  font-variation-settings:
    "MORF" 30,
    "SHLN" 100;
    }

      

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #222;
    position: relative;
    min-height: 50vh;
    background-color: #2e3047;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}
#attempts {
    height: 30px;
    width: 200px;
    align-self: center;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
   

   
}

#timer {
    height: 30px;
    width: 200px;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    
}

#board {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 400px;
  width: 400px;
  margin-top: 30px;
  
  
}
.tile {
height: 90px;
width: 90px;
background-color: #3bba9c;
background-image: url("");
background-size: cover;

}

#actionButton {
    height: 40px;
    width: 100px;
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

.modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 450px;
    padding: 10px;
    min-height: 200px;
    position: absolute;
    background-color: #fefffa;
    border: 1.5px solid #c0c0c0;
    border-radius: 30px;
    z-index: 2;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(4px);
    z-index: 1;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif

}

#wrong{
    height: 10px;
    padding: 20px;
    font-size: 20px;
    color: red;
}

.hidden {
    display: none;
}

.modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: auto;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, Helvetica, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif


}
h3 {
    margin: 0;
}

.btn {
    padding: 5px;
    margin: 10px;
}
